@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


.App {
  text-align: center;
}

.headerdiv {
  background-image: url("https://www.planetwildlife.com/sites/default/files/sites/default/files/itinerary/banner/banner_61.jpg");
  height: 300px;
}

.headertext {
  padding-top: 80px;
  color: white;
}

.headertext h1 {
  font-family: 'Titan One', cursive;
  font-size: 4em;
}

.headertext h3{
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
}

.sightingsTable {
  padding-top: 50px;
  margin: auto;
  width: 70em;
}

.formMenu {
  padding-top: 20px;
}

